<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>County Demographics</h1>
    <form id="queryForm">
      <label for="query">Enter your query:</label><br />
      <textarea id="query" name="query" rows="12" cols="70"></textarea><br />
      <input type="submit" value="Submit" />
    </form>
    <div id="result"></div>
    <script>
      $(document).ready(function () {
        $("#queryForm").on("submit", function (e) {
          e.preventDefault();
          $.ajax({
            url: "http://localhost:3000/execute_query",
            type: "post",
            data: $("#queryForm").serialize(),
            success: function (data) {
              $("#result").html(data);
            },
          });
        });
      });
    </script>
  </body>
</html>
